@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

* {
    box-sizing: border-box;
    padding: 0; 
    margin: 0;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Comfortaa', cursive;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.container {
    display: flex;
    flex: 1 1 auto;
    width: 95%;
    margin: auto;
}

header {
    border-bottom: 25px solid rgb(211, 177, 234);
}

.header {
    display: flex;
    justify-content: space-between;
    width: 1350px;
    flex-wrap: wrap;
    padding: 25px 50px;
}

h2 {
    font-size: 2rem;
    transition: all 0.5s ease;
}

h2:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.search-box {
    position: relative;
    width: 350px;
}

input {
    box-sizing: border-box;
    width: 90%;
    font-size: 1rem;
    padding: 8px;
    border-radius: 25px;
    outline: none;
    transition: all 0.30s ease-in-out;
    border: 1px solid rgb(19, 34, 35);
}

input:focus {
    box-shadow: 0 0 7px rgb(211, 177, 234);
    border: 1px solid rgb(211, 177, 234);
    cursor: pointer;
}

.search-box i {
    color: black;
    position: absolute;
    top: 22%;
    right: 18%;
    transition: 0.5s ease-in-out;
}

.search-box i:hover {
    color: rgb(211, 177, 234);
    cursor: pointer;
}

.grid {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-bottom: 15px;
}

.img {
    width: 380px;
    height: 200px;
    margin-top: 15px;
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 2px;
    transition: all 0.5s ease;
}

.img:hover {
    transform: scale(1.1);
    cursor: pointer;
}

a {
    text-decoration: none;
    color: rgb(19, 34, 35);
    transition: all 0.5s ease;
}

#rs {
    padding: 0 35px;
}

.footer-items {
    display: flex;
    justify-content: center;
    align-items:center;
    color: rgb(19, 34, 35);
    padding: 25px 0;
    font-size: 18px;
}

footer {
    background-color: rgb(211, 177, 234);
}

.hover:hover {
    color: white;
    cursor: pointer; 
}

@media(max-width:1024px) {
    .header {
    width: 1000px;
    padding: 25px 25px;
    }
}

@media(max-width:768px) {
    .header {
        justify-content: center;
        text-align: center;
    }

    .img {
        width: 100%;
    }

    h2 {
        padding: 5px 0;
    }

    .search-box i {
        top: 20%;
        right: 13%;
    }
}

@media(max-width:480px) {
    h2 {
        font-size: 1.5rem;
    }

    .search-box {
        width: 80%;
        margin: auto;
    }

    .search-box i {
        top: 15%;
        right: 16%;
    }

    #input {
        font-size: .7rem;
    }

    #rs {
        padding: 0 25px;
    }

    .footer-items{
        width: 200px;
        justify-content: center;
    }

    footer{
        display: flex;
        justify-content: center;
        font-size: 14px;
    }
}

@media(max-width:320px) {
    .search-box i {
        top: 16%;
        right: 20%;
    }
}